<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form mx-auto">
                <h2 class="login-header">Dang nhap</h2>
                <div class="form-group">
                    <label for="email">Email/Phone</label>
                    <input type="text" name="" id="email" class="form-control">
                    <div class="divider-nospace"></div>
                </div>
                <div class="mt-5"></div>
                <div class="form-group password-field">
                    <label for="password">Mat khau</label>
                    <input type="password" name="" id="password"
                     class="form-control" placeholder="It nhat 3 ky tu">
                     <i class="password-toggle fas fa-eye-slash"></i>
                     <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-test">
                        <span style="display: flex;">
                            <input type="checkbox" name="" id="remember" class="form-check-input" >
                            <label for="remember" class="form-check-label text-start ">
                                Ghi nho dang nhap
                            </label>
                        </span>
                        <a href="#" class="register-link">Quen mat khau</a>
                    </div>
                </div>
                <div class="form-group">
                    <select name="" id="" class="form-control access-right">
                        <option selected disabled value="">Quyen dang nhap</option>
                        <option value="">Nguoi dung</option>
                        <option value="">Quan tri vien</option>
                    </select>
                </div>
                <button type="button" class="login-button">Dang nhap</button>
                <div class="divider"></div>
                <p class="text-center">Ban chua dang ky <span>
                    <a href="#" class="register-link">Tao tai khoan</a>
                </span></p>
            </div>
        </div>
    </div>
</div>