<app-header />
<div class="confirmation-container">
    
        <h1>Xac nhan don hang</h1>
        <p>Cam on ban da dat hang! Duoi day la thong tin chi tiet ve don hang</p>
    
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">San pham</th>
                    <th scope="col">So luong</th>
                    <th scope="col">Don gia</th>
                    <th scope="col">Tong gia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <div class="product-info">
                          <img src="https://images.pexels.com/photos/4050334/pexels-photo-4050334.jpeg?auto=compress&cs=tinysrgb&w=300"
                           alt="Product Image" class="product-image">
                          <span class="product-name">Ten san pham</span>
                      </div>
                    </td>
                  <td>2</td>
                  <td>100,000$</td>
                  <td>200,000$</td>
                  </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient" type="button">Tiep tuc mua sam</button>
        </div>
    </div>
</div>
<app-footer ></app-footer>